body {
    background: #f3ffe6;
    font-family: sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
}

button {
    padding: 12px 30px;
    border-radius: 12px;
    border: none;
    background: #c7f2a7;
    font-size: 18px;
    cursor: pointer;
}
